.headerContainer{
    height: 60px;
    width: 100vw;
    /* background-color: #8e8e9f; */
        background-color: #3f3d3d;
    box-shadow: 0px 0px 8px 2px #282826 inset;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    padding: 10px 20px;
    box-sizing: border-box;
}
.heading{
    font-size: 26px;
    font-weight: bold;
    color: #e3b577; 
    text-shadow: 2px 3px 5px BLACK;
    margin: 0px;
}
.headerList{
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}
.headerLink{
    margin: 0 10px;
   
    font-size: 16px;
      font-weight: 600;
      text-shadow: 2px 2px 3px BLACK;

    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 60px;
    max-width: 100px;
    display: flex;
    justify-content: center;
}
.linkElement{
 color: #e3b577;
 text-decoration: none;
 margin: 0px;
 cursor: pointer;
}

.cartCount{
    background-color: #e3b477d0;
    padding: 2px 8px;
    border-radius: 10px;
    margin: 0px;
    margin-left: 5px;
    margin-top: 2px;
    font-size: 12px;
    text-shadow: none;
    font-weight: 700;
    box-shadow: 0px 0px 2px 1px #000000c1 inset;
}
.headerLogo{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.logoutBtn{
   background-color: transparent;
    padding: 4px 12px;
}
.largeScreeFilter{
    display: block;
}
.smLogoutBtn{
    display: none;
}
.profileCard{
   background-color: #000000b0;
    border-radius: 50%;
    padding: 6px 8px;
    border: 1px solid #e3b577d1;
    box-shadow: 0px 0px 6px 0px inset;
    margin-left: 5px;
}
.smProfileCard{
        display: none;
    }
@media screen and (max-width:700px) {
    .largeScreeFilter{
        display: none;
    }
}
@media screen and (max-width:500px) {
    .smLogoutBtn{
        display: block;
    }
    .smProfileCard{
        display: block;
    }
    .lgScreenNavLink{
        display: none;
    }
    .headerLink{
        font-size:14px;
        margin: 0px;
    }
    .heading{
        font-size: 20px;
    }
}