.coverImgList{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0px;
    list-style: none;
    margin: o auto;
    width: 70vw;
   
}
.coverImages{
    width: 9vw;
    height: 13vw;
    background-size: cover;
    margin: 8px;
    border: 1px solid #000000;
    box-shadow: 0px 0px 3px 2px #000000bd;
}
.bookId{
    
    color: red;
    font-weight: 600;
    background-color: #000000;
    width: 25px;
    margin: 0 auto;
}

@media screen and (max-width:500px) {
    
    .coverImages{
        width: 13vw;
        height: 20vw;
    }
}
