.cartContainer {
    padding: 20px;
    background-color: #70624f;
    width: 100%;
    height: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: rgba(210, 180, 140, 0.613) rgba(0, 0, 0, 0.418);
     box-shadow: 0px 0px 8px 4px #000000ac inset;
    box-sizing: border-box;
    
}
.emptyCartContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.emptyCart{
    font-weight: 500;
    color: #ffffffa3;
}
.cartLength{
    color: #d9ba96;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
}
.cartList {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 85vw;
    padding: 20px;
    border-radius: 16px;
    background-color: #3f3d3db8;
    box-shadow: 0px 0px 10px 2px #0000007d;
    box-sizing: border-box;
    gap: 20px;
}
.cartItem{
    display: flex;
    padding: 15px 10px;
    border-bottom: 1px solid #ffffff;
    width: 90%;
    box-sizing: border-box;
    
}
.itemImage{
    width: 80px;
    height: 110px;
    border: 2px solid black;
}

.bookCartTitle{
     color: #ffffffbb;
    font-weight: 500;
    font-size: 14px;
    margin: 1px;
}
.cartBookSpan{
    color: black;
    font-weight: 700;
    margin-right: 10px;
}
.bookDetailsFlex{
       display: flex;
    flex-direction: column;
    justify-content: center;
    /* flex-grow: 1; */
    box-sizing: border-box;
    
}
.textAlign{
    text-align: center;
}
.flexAlign{
    justify-content: flex-end;
    border: none;
    text-align: center;
    padding: 0px;
}
.totalPriceContainer{
    width: fit-content;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    border-bottom: 3px solid #eac2c2;
}
.col1{
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    width: 40%;
    margin: auto 10px;
}
.col2{
    width: 15%;
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    margin: auto 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.checkoutBtn{
    background-color: rgb(27, 27, 27);
    color: #ffffff;
    border: none;
    padding: 10px 30px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 2.3s ease;
    border: 1px solid #84817c;
    box-shadow: 0px 0px 4px 2px #84817c inset;
}
@media screen and (max-width:500px) {
    .largeScreenItem{
        display: none;
    }
    .bookDetailsFlex{
        width: 300px;
    }
    
    .cartList{
        justify-content: center;
        padding: 15px;
        border-radius: 3px;
        border: 1px solid #3f3d3db8;
        box-shadow: 0px 0px 6px 2px #0000007d;
    }
    .cartLength{
        margin: 0 0 15px 0;
    }
    .priceText{
        margin: 5px 0px;
    }
    .cartContainer{
            box-shadow: 0px 0px 6px 2px #000000ac inset;
    }
}