.bookItem{
    width: 45%;
    display: flex;
    /* border: 1px solid #021501; */
   background-color: #ffffff40;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 8px 2px #000000 inset;
}
.bookItem:hover{
    box-shadow: 0px 0px 8px 2px #000000;
}
.bookCoverImg{
    /* width: 170px;
    min-width: 170px;
    height: 250px; */
    width: 150px;
    min-width: 150px;
    height: 210px;
    border: 1px solid #000000;
    box-shadow: 0px 0px 3px 2px #000000bd;
    text-align: center;
}
.bookDetails{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    padding: 15px;
    /* width: 100%; */
    background-color: #424040a1;
        /* background-color: #424040de; */
    margin-left: 10px;
    border-radius: 10px;
}
.detailInput{
    background-color: #ffffff40;
}
.bookDetailsText{
    color: #d6d1d1;
    font-size: 14px;
    margin: 0px;
    font-weight: 600;
    width: 100%;
}
.bookTitle{
    margin: 0px;
    color: #ffffff;
    font-size: 18px;
}
.detailType{
    color: #1b1b1a;
    font-weight: 700;
    margin-right: 5px;
    width: 100px;
}
.bookPrice{
    font-weight: 600;
    color: #e4dede;
    margin: 0px;
}
.priceTag{
    font-weight: 400;
    font-size: 14px;
    margin-left: 2px;
}
.searchIcon{
        color: #ffb309;
    padding: 3px;
    border: 1px solid black;
    background-color: #4b4646;
    font-weight: 800;
    font-size: 20px;
}
.searchContainer{
     background-color: #d6d1d1;
    display: flex;
    align-items: center;
    border: 1px solid #000000ad;
}
.btnContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}
.bookBtn{
   background-color: #312f2c70;
    color: #fbfbfb;
    min-width: 60px;
    max-width: 200px;
    border: none;
    padding: 6px 20px;
    border-radius: 6px;
    font-weight: 500;
    font-size: 12px;
    /* margin-right: 20px;
    margin-top: 5px; */
    /* box-shadow: 0px 0px 3px 1px inset #ffd288a3; */
    box-shadow: 0px 0px 8px 1px #00000099 inset;
    
}
.bookDetailsText{
    color: #d6d1d1;
    font-size: 15px;
    margin: 0px;
    /* font-weight: 500; */
    width: 100%;
}
.rupeeIcon{
    font-size: 12px;
}
.smallScreen{
    display: none;
}

@media screen and (max-width:1000px) {
    .bookDetailsText{
        font-size: 14px;
        font-weight: normal;
    }
    .bookBtn{
        padding: 8px 10px;
        text-align: center;
        margin: 0px;
    }
    .smInputText{
        width: 97%;
    }
    .bookItem{
        width: 40vw;
    
        flex-wrap: wrap;
        gap: 10px;
    }
    .bookTitle{
        font-size: 14px;
    }
    .bookCoverImg{
        /* width: 100px; */
        width: 100px;
        min-width: 80px;
        height: 120px;
        margin: auto 0px;
    }
    .bookDetails{
        margin: 0px;
        width: 40%;
        flex-grow: 1;
        padding: 10px;
        box-sizing: border-box;
    }
    .largeScreen{
        display: none;
    }
    .smallScreen{
        display: block;
    }
}
@media screen and (max-width:700px) {
    .bookItem{
        width: 85%;
    }
}