.smNavContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #3f3d3d;
    box-shadow: 0px 0px 10px 2px inset #0000009e;
    height: fit-content;
    padding: 12px;
    border: none;
}
.navLink{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
}
.linkIcon{
    color: #e3b577;
    margin-right: 8px;
    width: 20px;
    height: 20px;
}
.navLinkText{
    color: #e3b577;
    font-size: 16px;
    font-weight: 500;
    text-shadow: 1px -2px 2px black;
    margin: 0px;
}
@media screen and (min-width:501px) {
    .smNavContainer{
        display: none;
    }
}